.home-page {
  background-color: #f5f9fa;
  .banner {
    height: 2.3rem;
    background-color: #73d13d;
    .location {
      padding : {
        left: 0.14rem;
        top: 0.14rem;
        right: 0.12rem;
        bottom: 0.14rem;
      }
      color: #fff;
      font-size: 0.14rem;
      line-height: 0.22rem;
      font-weight: normal;
      .iconfont {
        width: 0.1rem;
        height: 0.12rem;
        margin: {
          right: 0.1rem;
        }
      }
    }
    // 搜索框
    .search-wrapper {
      position: relative;
      height: 0.36rem;
      width: 3.4rem;
      margin: 0 auto;
      margin-right: 0.2rem;
      .search {
        padding: 0.12rem;
        padding-left: 0.35rem;
        border: none;
        outline: none;
        position: absolute;
        width: 100%;
        height: 100%;
        line-height: 0.36rem;
        background-color: #fff;
        color: #808080;
        font-size: 0.14rem;
        border-radius: 0.18rem;
      }
      .iconfont {
        position: absolute;
        left: 10px;
        top: calc(50% - 7px);
      }
    }
    .swiper-container {
      position: relative;
      margin : {
        left: 0.16rem;
        top: 0.09rem;
      }
      .swiper-item-pic {
        width: 3.4rem;
        height: 0.9rem;
      }
      .radius {
        border-radius: 0.1rem;
      }
      .pagination {
        position: absolute;
        z-index: 100;
        // 水平居中
        left: 50%;
        transform: translateX(-50%);
        bottom: 0.26rem;
        color: #fff;
        font-size: 0.12rem;
        line-height: 0.2rem;
        text-align: center;
        background-color: #52c41a;
        border-radius: 0.1rem;
        padding: 0 0.1rem;
      }
    }
  }
  .category {
    // 展示顶部左右的圆角
    position: relative;
    margin: {
      top: -0.2rem;
    }
    border-radius: 0.2rem 0.2rem 0 0;
    display: flex;
    background-color: #fff;
    flex-wrap: wrap;
    font-size: 0.12rem;
    padding : {
      bottom: 0.2rem;
    }
    &-item {
      flex: 0 0 25%;
      text-align: center;
      &-img {
        margin : {
          top: 0.16rem;
          bottom: 0.13rem;
        }
        width: 0.42rem;
        height: 0.36rem;
      }
      &-title {
        color: #242424;
        line-height: 0.18rem;
        text-align: center;
      }
    }
  }
  .taste_the_new {
    margin : {
      top: 0.1rem;
    }
    background-color: #fff;
    font-size: 0.12rem;
    &-header {
      padding : {
        left: 0.14rem;
        top: 0.1rem;
        right: 0.12rem;
        bottom: 0.1rem;
      }
      color: #242424;
      font-size: 0.2rem;
      line-height: 0.24rem;
      &-img {
        width: 0.24rem;
        height: 0.24rem;
      }
      &-title {
        font-size: 0.2rem;
        transform: translateY(-0.04rem);
        display: inline-block;
        margin: {
          left: 0.05rem;
        }
      }
      &-more {
        float: right;
        p {
          display: inline;
          font-size: 0.13rem;
          margin: {
            right: 0.05rem;
          }
        }
        img {
          transform: translateY(0.02rem);
        }
      }
    }
    &-content {
      overflow-x: scroll;
      white-space: nowrap;
      margin: {
        top: 0.2rem;
      }
      padding : {
        bottom: 0.14rem;
      }
      &-item {
        display: inline-block;
        margin : {
          right: 0.06rem;
        }
      }
    }
  }
}
